@import "../index.scss";

.cardsWrapper {
  display: flex;
  flex-flow: column;
}
.cards {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5rem;
  flex-flow: column;
  @include md {
    flex-flow: row;
    flex-wrap: wrap;
  }
}

.heading {
  text-align: center;
}

.card {
  flex-grow: 1;
  margin: 10px;

  @include md {
    flex-basis: 30%;
  }

  .username,
  .email,
  .phone,
  .website,
  .address,
  .address + span,
  .title + span {
    font-weight: bold;
    text-transform: capitalize;
  }

  .title,
  .name,
  .catchPhrase,
  .post,
  .address,
  .bs {
    display: none;
  }

  .catchPhrase + span {
    font-style: italic;
    &::before {
      content: '"';
    }
    &::after {
      content: '"';
    }
  }
}
