// Small devices
$screen-sm-min: 576px;
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
$screen-md-min: 768px;
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
$screen-lg-min: 992px;
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
$screen-xl-min: 1200px;
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}
#root {
  padding: 0;
  transition: padding 300ms;
  min-width: 260px;
  @include sm {
    padding: 0 10px;
  }
  @include md {
    padding: 0 20px;
  }
  @include lg {
    padding: 0 50px;
  }
  @include xl {
    padding: 0 100px;
  }
}
